<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.amsterdam.marktbureau.makkelijkemarkt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mm_orange"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- MainActivity HomeScreen and Login -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/HomeTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
